.first-row { margin-top: 65px; }
.first-row hr { margin-top: 5px; margin-bottom: 10px; }
h3 { margin-top: 5px; }

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.shadow-header {
    -webkit-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.75);
}

.shadow-card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-dialog-title {
    text-align: left;
}

.confirm-dialog {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    text-align: center;
}

.card-container {
    z-index: 1000;
    margin: 0px 10px 20px 10px;
    border: 1px solid #ccc;
}

.cursor-pointer {
    cursor: pointer;
}

.row-odd {
    background: #eee;
}

.row-dialog {
    padding-top: 4px;
    padding-bottom: 4px;
}