html, body {
    height: 100%;
}

.vertical-center {
    height:100%;
    width:100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .container {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-panel {
    margin:10px;
}

#login-one-col-qrcode-container {
    font-size: 13px;
}

#login-two-cols-qrcode-container p {
    margin: 10px;
    padding-left: 0px;
    font-size: 13px;
    vertical-align: middle;
}

#login-two-cols-qrcode-container img {
    width: 100%;
    height: auto;
}

#login-two-cols-qrcode-container .qrcode-col-download {
    padding-left: 0px;
    font-size: 13px;
}